body {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Indie Flower', cursive;
}

.upper-container {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: url(../image/background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

img {
	width: 11rem;
	height: 11rem;
	margin: 1rem 3rem;
	visibility: hidden;
}

.lower-container {
	height: 20%;
	width: 100%;
	display: flex;
}

.songs-container {
	width: 90%;
	background-color: bisque;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h4 {
	margin: 0.9rem;
	padding: 0.1rem;
	width: 18rem;
	text-align: center;
	font-size: 1.5rem;
}

.button {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d36100;
	color: black;
}
